body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#calculator {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 20%;
}

#display {
    border: 2px solid black;
    width: 100%;
    font-size: 2em;
    text-align: right;
}

#buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#numberButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    align-self: flex-start;
    width: 75%;
    margin: 0;
}

#operatorButtons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    width: 25%;
    margin: 0;
}

#clearBtn {
    flex-basis: 33%;
    font-size: 2em;
}

.numberBtn {
    flex-basis: 33%;
    font-size: 2em;
}

.operatorBtn {
    flex-grow: 1;
    font-size: 2em;
}
