body {
    position: absolute;
    height: 100%;
    width: 100%;
}

button {
    width: 1.5em;
    height: 1.5em;
}

#container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

#calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "display display"
        "numberButtons operatorButtons";
    grid-gap: 0px;
    width: 20%;
}

#display {
    grid-area: display;
    text-align: right;
    height: 1.5em;
    width: 95%;
}

#numberButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-area: numberButtons;
}

#operatorButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-area: operatorButtons;
    grid-template-areas:
        "plus backspace"
        "minus ."
        "mult ."
        "divide equals";
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#mult {
    grid-area: mult;
}

#divide {
    grid-area: divide;
}


#backspaceBtn {
    grid-area: backspace;
}

#equalsBtn {
    grid-area: equals;
}
