header {
    display: block;
    line-height: 1em;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color: #2d2d2d;
    margin: 0;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f2f0ec;
}

button {
    margin: 10px 30px 10px 0px;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: #515151;
    background-color: #c9c0af;
    border: 1px solid #c9c0af;
    border-radius: 7%;
}

a {
    color: #99cc99;
    text-decoration: none;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin: auto;
}

.square {
    position: relative;
    flex-basis: calc(6.25%);
    margin: 0px;
    border: 1px solid #747369;
    box-sizing: border-box;
}

.square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
