body {
    position: absolute;
    height: 100%;
    width: 100%;
}

button {
    margin-top: 30px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin: auto;
}

.square {
    position: relative;
    flex-basis: calc(6.25%);
    margin: 0px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.square::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
