form {
    margin-top: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-button {
    color: #5F6368;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
}
