form {
    margin-top: 10px;
}

#navbar {
    list-style-type: none;
    margin: 21px 0px 10px 0px;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline;
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    text-decoration: underline;
}

#right-nav {
    float: right;
}


#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-button {
    color: #5F6368;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
}
