html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

form {
    margin-top: 10px;
    width: 35%;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.left {
    margin: 10px 0px 0px 10px;
}

.right {
    margin: 10px 10px 0px 0px;
}

.left a {
    margin: 5px 12px 0px 5px;
}

.right a {
    margin: 5px 10px 0px 12px;
}

#sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4285f4;
    color: white;
    outline: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 28px;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

#main-content img {
    margin-bottom: 15px;
}

#searchbar {
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer {
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer .left {
    /* margin: 0px 0px 10px 10px; */
    font-size: 14px;
}

#footer .right {
    /* margin: 0px 10px 10px 0px; */
    font-size: 14px;
}

.form-button {
    color: #5F6368;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 0 16px;
    margin: 24px 5px;
    height: 36px;
}
