a {
    text-decoration: none;
    color: #333;
}

form {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.left {
    margin: 10px 0px 0px 10px;
}

.right {
    margin: 10px 10px 0px 0px;
}

.left a {
    margin: 5px 12px 0px 5px;
}

.right a {
    margin: 5px 10px 0px 12px;
}

#sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4285f4;
    color: white;
    outline: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 28px;
}

/*
.header li {
    float: left;
}

.header li a {
    display: inline;
    color: rgb(34, 34, 34);
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    text-decoration: underline;
}
*/

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-button {
    color: #5F6368;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
}
